/* Chrome, Safari, Edge, Opera - Hide arrow keys input*/ 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox - Hide arrow keys input*/
input[type=number] {
  -moz-appearance: textfield;
}